{
  "extends": [
    "airbnb/base",
    "plugin:prettier/recommended"
  ],
  "overrides": [
    {
      "files": ["**/*.ts"],
      "plugins": [
        "@typescript-eslint",
        "unused-imports",
        "simple-import-sort"
      ],
      "extends": [
        "airbnb-typescript/base",
        "plugin:prettier/recommended"
      ],
      "rules": {
        "prettier/prettier": "warn",
        "import/prefer-default-export": "off",
        "no-promise-executor-return": "off"
      },
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    }
  ]
}
